.main-container-padding {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background: rgb(243, 243, 243);
    height: 400%;
}

.dashboard-container {
    width: 450px !important;
}

.content-container {
    width: 100%;
}

.clear-all {
    color: rgb(123, 126, 129);
    font-size: 12px;
}

.font-small-120 {
    font-size: 120%;
}

.item-name {
    color: rgb(39, 18, 112);
    padding-top: 12px;
    padding-left: 12px;
    font-size: 90%;
}
.item-profile-link {
    padding-left: 12px;
    font-size: 85%;
    color: rgb(163, 54, 236);
}
.verified-icon {
    width: 15px;
}

.item-followers {
    font-size: 85%;
}
.item-engrate {
    font-size: 85%;
}

.item-address,
.item-category {
    padding-left: 8px;
    font-size: 85%;
}

.item-address {
    color: rgb(78, 78, 80);
}

.item-category {
    font-size: 87%;

    color: rgb(47, 47, 151);
}
.avatar-space {
    padding-left: 12px;
}

.bordered-input {
    border-radius: 5px 0 0 5px;
}
.bordered-search {
    border: 1px solid rgb(158, 158, 158);
    border-radius: 0 5px 5px 0;
    padding: 10px;
}
